<%= stylesheet_link_tag "about.css" %>
<%= javascript_include_tag "about.js" %>

<div class="main">
  <div class="section section-1">
    <div class="content" data-aos="fade-up">
      <h1 class="header header-1">GeoMonitor da Saúde</h1>
      <p class="text">
        O Projeto GeoMonitor da Saúde é fruto de uma colaboração entre o <a href="http://interscity.org/">Projeto InterSCity</a>, sediado no IME-USP, e a <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/saude/">Secretaria Municipal da Saúde de São Paulo</a>.
        Nosso objetivo é utilizar técnicas avançadas de Ciência da Computação (Big Data, Visualização e Ciência de Dados) para fornecer ferramentas inovadoras para profissionais e gestores da saúde pública.
        Este é um projeto de software livre e assim, aberto a colaborações a fim de desenvolver avanços científicos na área de Informática e Big Data em Saúde.
        O InterSCity é financiado com recursos da FAPESP, CNPq e CAPES.
      <p>
    </div>
  </div>

  <div class="section section-2">
    <div class="content" data-aos="fade-up">
      <h2 class="header header-2">Desenvolvimento</h2>
      <p class="text">
        A plataforma de visualização de dados é um software livre licenciado sob a Mozilla Public License 2.0, que está sendo desenvolvida em Ruby on Rails e JavaScript e utilizando a API do OpenStreetMap.
        Seu repositório está disponível no <a href="https://gitlab.com/interscity/health-dashboard/health-smart-city">GitLab</a>.
      <p>
    </div>
  </div>

  <div class="section section-3">
    <div class="content" data-aos="fade-up">
      <h2 class="header header-3">Dados</h2>
      <p class="text">
        A plataforma apresenta os dados georreferenciados das internações custeadas pelo Sistema Único de Saúde, constantes no Sistema de Informação Hospitalar (SIH), fornecidos pela Secretaria Municipal de Saúde de São Paulo.
        A base de dados está anonimizada, não havendo informações sensíveis sobre os indivíduos e a localização dos domicílios foi generalizada para o centróide do setor censitário correspondente (territórios com população média de 600 habitantes, no município de São Paulo.
        <br><br>A ferramenta também apresenta(rá) informações demográficas, oriundas do Censo de 2010 realizado pelo IBGE e das projeções populacionais disponibilizadas pela Fundação SEADE,  estratificadas por sexo, faixa etária e raça/cor segundo as unidades territoriais administrativas da Prefeitura de São Paulo e da Secretaria Municipal da Saúde.
      <p>
    </div>
  </div>

  <div class="section section-4">
    <div class="content-presentation" data-aos="fade-up">
      <h2 class="header header-4">Utilização</h2>
      <iframe src="slideshow/presentation.html" height="100%" width="100%"></iframe>
    </div>
  </div>

  <div class="section section-membros">
    <div class="content-membros" data-aos="fade-up">
      <h3 class="header header-membros">Membros</h3>
        <div class="membros-container" id="membros-container">
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("baguiar.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Breno Aguiar</p>
              <p class="instituto">SMS/SP</p>
              <p class="descricao">Técnico na Gerência de Geoprocessamento e
              Informações Socioambientais (GISA) na Secretaria Municipal da Saúde de
              São Paulo (SMS).</p>
              <div class="media">
                <i class="fab fa-lg fa-facebook"></i>
                <i class="fab fa-lg fa-google-plus-square"></i>
                <i class="fab fa-lg fa-github-square"></i>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("mfailla.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Marcelo Failla</p>
              <p class="instituto">SMS/SP</p>
              <p class="descricao">Técnico na Gerência de Geoprocessamento e
              Informações Socioambientais (GISA) na Secretaria Municipal da Saúde de
              São Paulo (SMS).</p>
              <div class="media">
                <i class="fab fa-lg fa-facebook"></i>
                <i class="fab fa-lg fa-google-plus-square"></i>
                <i class="fab fa-lg fa-github-square"></i>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("fkon.png", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Prof. Fabio Kon</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Professor titular do Departamento de Ciência da Computação (DCC)
              do Instituto de Matemática e Estatística (IME) da Universidade de São Paulo (USP).<p>
              <div class="media">
                <a target="_blank" rel="noopener noreferrer" href="https://br.linkedin.com/in/fabiokon"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/fabiokon"><i class="fab fa-lg fa-twitter-square"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.ime.usp.br/~kon/"><i class="fas fa-globe"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("kbraghetto.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Profª. Kelly Braghetto</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Professora do Departamento de Ciência da Computação (DCC)
              do Instituto de Matemática e Estatística (IME-USP)</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">kellyrb@ime.usp.br</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kelly-rosa-braghetto-94b30344/"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://www.ime.usp.br/~kellyrb/"><i class="fas fa-globe"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("pmeirelles.png", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Prof. Paulo Meirelles</p>
              <p class="instituto">UNIFESP</p>
              <p class="descricao">Professor adjujnto do Departamento de Informática em Saúde
              da Unifersidade Federal de São Paulo (UNIFESP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">paulo.meirelles@unifesp.br</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/paulormm/"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/paulormm"><i class="fab fa-lg fa-twitter-square"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("dciriaco.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Débora Ciriaco</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Mestranda em Ciência da Computação do Instituto de
              Matemática e Estatística (IME) da Universidade de São Paulo (USP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">dciriaco@ime.usp.br</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/debora-lina-ciriaco-592a0a55/"><i class="fab fa-lg fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("epinheiro.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Eduardo Pinheiro</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Estudante do Bacharelado em Ciência da Computação
                do Instituto de Matemática e Estatística (IME) da Universidade de São
                Paulo (USP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">eduardo.pinheiro482@hotmail.br</p>
                <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/eduardopinheiro482"><i class="fab fa-lg fa-git-square"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("ckodaira.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Camila Kodaira</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Estudante do Bacharelado em Ciência da Computação
                do Instituto de Matemática e Estatística (IME) da Universidade de São
                Paulo (USP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">naomicamila@hotmail.com</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/camila-kodaira-043635160/"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/NaomiKodaira"><i class="fab fa-lg fa-git-square"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("gpereira.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Gabriely Pereira</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Estudante do Bacharelado em Ciência da Computação
                do Instituto de Matemática e Estatística (IME) da Universidade de São
                Paulo (USP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">gabriely.pereira@usp.br</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/gabriely-rangel-pereira-14114516a"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/gabriely.pereira"><i class="fab fa-lg fa-git-square"></i></a>
              </div>
            </div>
          </div>
          <div class="membro">
            <div class="membro-img-frame">
              <%= image_tag("yhonda.jpg", :class => "membro-img") %>
            </div>
            <div class="membro-text">
              <p class="nome">Yurick Honda</p>
              <p class="instituto">IME/USP</p>
              <p class="descricao">Estudante do Bacharelado em Ciência da Computação
                do Instituto de Matemática e Estatística (IME) da Universidade de São
                Paulo (USP).</p>
              <div class="media">
                <i class="fas fa-lg fa-envelope-square" onclick="show_email(this)"></i>
                <p class="email">yurickyussuke@gmail.com</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/yurick-honda-a32375161/"><i class="fab fa-lg fa-linkedin"></i>
                <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/yurickyh"><i class="fab fa-lg fa-git-square"></i></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<footer class="rodape">
  <div class="footer-container">
    <%= image_tag("sms-footer.png", :class => "footer-img") %>
    <ul class="footer-item">
      <li><strong>Secretaria Municipal da Saúde</strong></li>
      <li>R. General Jardim, 36 - Vila Buarque Telefone: 3397-2000</li>
    </ul>
    <ul class="footer-item">
      <li><strong>Contatos</strong></li>
      <li><i class="fa fa-envelope"></i> ouvidoriasaude@prefeitura.sp.gov.br</li>
      <li><i class="fa fa-phone"></i> 156</li>
    </ul>
  </div>
</footer>
<script>
  AOS.init();
</script>